.audio-block {
  width: 100%;
  padding: 0.5rem 0rem;
  position: relative;
}

.file-upload  {
  height: 1em;
  border: 2px solid;
  border-radius: 5px;
  border-color: #000000;
  cursor: pointer;
  padding: 2px 12px;
  background-color: #202020;
  color: #E5FFCC;
}

.file-upload:hover {
  background: #808080
}

input[type='file'] {
  display: none;
}

h4 {
  width: 100%;
  text-align: center;
  word-wrap: break-word;
}

.audio-block > button {
  border-top: none;
  /* border-bottom: none; */
  outline: none;
}

button:disabled {
  border: none;
}

.left-radius-button {
  border-radius: 3rem 0rem 0rem 3rem;
}

.right-radius-button {
  border-radius: 0rem 3rem 3rem 0rem;
}

.control-button {
  width: 6rem;
  height: 1.5rem;
}

.loop-button {
  width: 3rem;
  height: 2rem;
}

.loop-button > span {
   font: bold 1rem Arial, sans-serif;
}

.speed-slider {
  -webkit-appearance: slider-vertical;
  height: 10rem;
}

.audiodisk {
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  border: 5px solid ;
}

.audiodisk-play {
  animation: rotation 5s linear infinite normal;  
}


@-webkit-keyframes rotation {

   from {
     transform: rotate(360deg);
   }
   to {
     transform: rotate(720deg);
   }
}

.title {
  height: 4rem;
}

.title-text {
  padding-bottom: 1rem;
  position: absolute;
  width: 100%;
  align: center;
}

.audio-player {
  padding: 0 2rem;
  width: 22rem;
}
