.crossfader-slider {
  width: 86%;
}

.mixer {
  border: 0.2rem solid;
  /* border-left: 0.2rem solid;
  border-right: 0.2rem solid; */
}

input[type=range]::-webkit-slider-thumb {
  height: 20rem;
}
