.slider {
  margin-top: 15%;
  margin-bottom: 15%;
  transform: rotate(270deg);
  height: 100px;
}

.center {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

.flexcontainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding:0px 50px;
}
