.controller {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex: 1 0 auto;
  border-top: solid 0.2rem;
  border-bottom: solid 0.2rem;
}

@media (max-width: 2) {
  .controller {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex: 1 0 auto;
    border-top: solid 0.2rem;
    border-bottom: solid 0.2rem;
    justify-content: center;
  }
}
