body {
  background-color: #C0C0C0;
  padding: 0;
}

#root {
  padding: 0px;
  margin: 0px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-item-center {
  align-items: center;
  justify-content: center;

}

.flex-container > div {
  margin: 50px 20px;
}

.content-center {
  text-align: center;
}

.slider {
  transform: rotate(270deg);
  height: 9rem;
}
