.slider {
  transform: rotate(270deg);

}

.file-upload  {
  height: 1em;
  border: 2px solid;
  border-radius: 5px;
  border-color: #000000;
  cursor: pointer;
  padding: 2px 12px;
  background-color: #202020;
  color: #E5FFCC;
}

.file-upload:hover {
  background: #808080
}

.audio-block {
  width: 100%;
  padding: 0.5rem 0rem;
}

input[type='file'] {
  display: none;
}

h3 {
  padding: 0px 1em;
  margin: 0px;
  max-width: 190px;
}

.audio-sectiond {
  max-width: 30%;
}

.audio-block > button {

  height: 1.8rem;
  margin:  1.5rem, 0rem;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  outline: none;
}

button:disabled {
  border: none;
}

.left-radius-button {
  border-radius: 3rem 0rem 0rem 3rem;
  border-left: 1px solid black;
}

.right-radius-button {
  border-radius: 0rem 3rem 3rem 0rem;
  border-right: 1px solid black;
}

.control-button {
  width: 6rem;
}

.loop-button {
  width: 2rem;
}
