.audio-block {
  width: 100%;
  padding: 0.5rem 0rem;
}

.file-upload  {
  height: 1em;
  border: 2px solid;
  border-radius: 5px;
  border-color: #000000;
  cursor: pointer;
  padding: 2px 12px;
  background-color: #202020;
  color: #E5FFCC;
}

.file-upload:hover {
  background: #808080
}

input[type='file'] {
  display: none;
}

h3 {
  padding: 0px 1em;
  margin: 0px;
  max-width: 190px;
}

.audio-block > button {
  border-top: none;
  /* border-bottom: none; */
  outline: none;
}

button:disabled {
  border: none;
}

.left-radius-button {
  border-radius: 3rem 0rem 0rem 3rem;
}

.right-radius-button {
  border-radius: 0rem 3rem 3rem 0rem;
}

.control-button {
  width: 6rem;
  height: 1.5rem;
}

.loop-button {
  width: 2rem;
}

.speed-slider {
  -webkit-appearance: slider-vertical;
  height: 10rem;
}

.audiodisk {
  width: 12rem;
  height: 12rem;
}

.audiodisk-play {
  animation: 5s ease-in 0s normal none infinite running rotation;
  animation-timing-function: steps(128, end);
}


@@keyframes rotation {
  from { transform: rotate(0deg);}
  to { transform: rotate(360deg);}
}
@-webkit-keyframes rotation {
   0% {
     transform: rotate(0deg);
   }
   100% {
     transform: rotate(360deg);
   }
}

.vertical-split{
  margin: 12rem 0rem;
}
